.App {
  /* adding a variable to be used in child components */
  --slack-color: #3f0f40;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
}

.app_body {
  display: flex;
  height: 100vh;
}

